
@font-face {
    font-family:'h';
    src: url('../fonts/h.woff2') format('woff2'),
		url('../fonts/h.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'R';
    src: url('../fonts/R.woff2') format('woff2'),
		url('../fonts/R.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'R';
    src: url('../fonts/R Bold.woff2') format('woff2'),
		url('../fonts/R Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Bilingual Serif Alternate Font';
    src: url('../fonts/Bilingual Serif Alternate Font Regular.woff2') format('woff2'),
		url('..//fonts/Bilingual Serif Alternate Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Bilingual Serif Font';
    src: url('../fonts/Bilingual Serif Font Regular.woff2') format('woff2'),
		url('../fonts/Bilingual Serif Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'SCRIPTKEREN';
    src: url('../fonts/SCRIPTKEREN.woff2') format('woff2'),
		url('../fonts/SCRIPTKEREN.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
:root {
    --general-text-color: #00372B;
    --h2-color: #93C683;
    --footer-btn-bg-color:#00372B;
    --nav-a-color: #009E29;
    --h1-a-color: #C11462;
    --blockquote-bg-color: #FFF8E1;
    --location-p-color: #D3F4DA;
    --location-a-color: #FFF8E1;
}

/*GENERAL*/

body {
    margin: 0;
    font-family: "R", "h", "Bilingual Serif Font", "Bilingual Serif Alternate Font", "SCRIPTKEREN", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--general-text-color);
}
* {
    box-sizing: border-box;
    clear: both;
}
.container {
    width: 80rem;
    max-width: 100%;
    padding: 1rem 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}
h1{
    font-size: 2rem;
    font-weight: 400;
    color: var(--h1-a-color);
    font-family: "Bilingual Serif Font", sans-serif;
    text-shadow: 0 0 0.5px #c11462;
}
h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--h2-color);
    font-family: "Bilingual Serif Font";
}
@media(min-width: 54rem) {
    h2 {
        font-size: 2rem;
    }
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    font-family: "R", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p {
    font-family: "h";
}
.logo {
    width: 6rem;
}
@media(min-width: 54rem) {
.logo {
    width: 6.25rem;
    display: block;
}
}
@media (min-width: 47.9375rem) {
    .logo {
        width: 9.375rem;
    }
}
.burger {
    width:2rem;
}
/*HEADER*/
header {
    margin-top: 1rem;
    /* z-index: 9999; 
    position: relative;  */
}
.main {
    display: none;
}
@media (min-width: 62rem) {
    .main {
        display: flex;
        color: var(#009E29);
        justify-content: flex-end;
        text-transform: uppercase;
    }
}
.main a { 
    color: var(--nav-a-color);
    transition: all .2s ease;
    padding: .4rem;
    font-size: 0.66rem;
}
@media (min-width: 71rem) {
    .main a {
        font-size: 0.8rem; 
    }
}
.main a:hover {
    color: var(--h2-color);
}

.contacts {
    font-size: 0.49rem;
    text-transform: uppercase;
    font-family: "R";
    
}  
@media (min-width: 31rem) {
    .contacts {
        font-size: .7rem;
    } 
}
@media (min-width: 62rem) {
    .contacts {
        justify-content: flex-end;
        display: flex;
        margin-bottom: -2rem;
    } 
}
.contacts span {
    margin-right: .2rem; 
    font-family: "h";
}
.contacts ul {
    display: flex;
    justify-content: center;
}
.contacts ul li {
    margin-left: 0.24rem;
}
@media (min-width: 31rem) {
    .contacts ul li {
        margin-left: 1rem;
    }
}
.contacts a {
    color: var( --footer-btn-bg-color);
    transition: all 0.2s ease;
}
.contacts a:hover {
    color: var(--nav-a-color);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "R";
    margin-bottom: 0;
    margin-top: 1rem;
}
.nawigation_wrap {
    display: flex;
    align-items: center;
}
.mandje {
    background-color: var(--footer-btn-bg-color);
    color: var(--blockquote-bg-color);
    text-align: center;
    border-radius: .6rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    align-items: flex-end;
}
.mandje-amount {
    background-color: var(--blockquote-bg-color);
    color: var(--footer-btn-bg-color);
    border-radius : 50%;
    padding: 0 0.3rem;
    margin-left: 0.38rem;
    font-weight: 700;
}
.wrapper {
    display: flex;
    
}
.burger {
    margin-left: .5rem;
}
@media (min-width: 62rem) {
    .burger {
        display: none;
    }
}

.modal {
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: white;
    z-index: 1;
    margin-top: 15rem;
    transition: all .2s ease;
}
.main__modal {
    text-align: center;
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
}
.main__modal li {
    width: 100%;
    margin-bottom: 1rem;
}
.main__modal a {
    color: var(--nav-a-color);
}
.main__modal a:hover {
    color: var(--h2-color);
}
/* .hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
} */
/*QUOTE*/
.quote {
    background-color: var(--blockquote-bg-color);
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
blockquote {
    margin: 0;
    margin-bottom: 4rem;
}
@media(min-width: 47.9375rem) {
    blockquote {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 4rem;
    }
    blockquote > * {
        width: 50%;
    }
}
@media(min-width: 59.375rem) {
    blockquote {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media(min-width: 75rem) {
    blockquote {
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
}

blockquote header {
    margin: 0;
}
.autor-photo {
    display: block;
    margin: 0 auto;
    margin-top: -5rem;
}
@media(min-width: 47.9375rem)  {
    .autor-photo {
        margin-top: 0;
        padding-left: 1.5rem;
    }
}
.quote p {
    margin: 0;
}
@media(min-width: 47.9375rem) {
    .quote p {
        font-size: 1.2rem;
    }
}
@media(min-width: 75rem) {
    .quote p {
        font-size: 1rem;
    }
}
.content {
    align-self: center;
}
@media(min-width: 75rem) {
    .content {
        padding-right: 3rem;
    }
}
.content h1 {
    margin-bottom: 1rem;
}
@media(min-width: 47.9375rem) {
    .content h1 {
        font-size: 3.1875rem;
    }
}
.content :nth-child(2) {
    margin-bottom: 1rem;
} 
/*SPECIAL*/
.special {
    padding: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}
@media(min-width: 47.9375rem) {
    .special {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .special > * {
        width: 50%;
    }
}
.special h2 {
    margin: 0;
}
.special__link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 24rem;
    margin: 0 auto;
    align-items: center;
}
@media(min-width: 47.9375rem) {
    .special__link-wrapper {
        margin: 0 0;
        display: block;
    }
}
@media(min-width: 26.25rem) {
    .special__link-wrapper {
        justify-content: center;
    }
}
.special__link-wrapper span{
    width: 100%;
    font-family: "h";
    padding-right: .5rem;
}
@media(min-width: 47.9375rem) {
    .special__content {
        padding-left: 2rem;
    }
}
@media(min-width: 26.25rem) {
    .special__link-wrapper span {
        width: 30%;
    }
    .special__link-wrapper  a {
        width: 70%;
    }
}
.special a {
    color: var(--h1-a-color);
    transition: all 0.2s ease;
    border: 1px solid var(--h1-a-color);
    padding: .5rem;
    border-radius: .6rem;
}
.special a:hover {
    color: var(--h2-color);
}
.right {
    width: .8rem;
    height: .8rem;
}
/*REISON*/
.reison h2,
.reison p {
    text-align: center;
}
@media(min-width: 54rem) {
    .reison p {
        font-size: 1.2rem;
    }
}
.reison a {
    color: var(--h1-a-color);
    text-decoration: underline #f2d6e3;
    font-size: 1.5rem;
    transition: all .2s ease;
    font-family: "Bilingual Serif Font";
}
.reison a:hover {
    text-decoration: underline var(--h1-a-color);
}
.section__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
@media(min-width: 40rem) {
    .section__wrap{
       justify-content: space-around;
    }
    .section__wrap section:nth-child(3){
        margin: 0 auto;
    }
}
@media(min-width: 54rem) {
    .section__wrap{
        justify-content: space-between;
     }
}
@media(min-width: 54rem) {
    .section__wrap section:nth-child(3){
        margin: 0;
    }
}
section {
    align-self: center;
    margin-right: .5rem;
}
section div {
    width: 19rem;
    height:18.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
@media(min-width: 40rem) {
    section div {
    width: 18rem;
    height:17.5rem;
    }
}
@media(min-width: 54rem) {
    section div {
        width: 18rem;
        height:17.5rem;
        }
}
@media(min-width: 75rem) {
    section div {
        width: 24rem;
        height:23.5rem;
        background-size: 30rem;
        }
}
@media(min-width: 78.125rem) {
    section div {
        width: 25rem;
        height:24.5rem;
        background-size: 31rem;
        }
}
.trouw {
    background-image: url(../media/weedings.jpeg);
    box-shadow: 12px 12px 0px 0px #FFF8E1;
    
   
}
@media(min-width: 54rem) {
    .trouw {
        margin-left: -1rem;
    }
    .trouw__link {
       margin-left: -1rem;
    }
}

.sezoen {
    background-image: url(../media/sezoen.jpeg);
    background-repeat: no-repeat;
    box-shadow: 12px 12px 0px 0px #DFF4D7;
}
.rouw {
    background-image: url(../media/rouw.jpeg);
    background-repeat: no-repeat;
    background-size: 35rem;
    box-shadow: 12px 12px 0px 0px #F2D6E3;
}
@media(min-width: 75rem) {
    .rouw {
        background-size: 37rem;
    }
}
/*LOCATION*/
.location {
    background-color: var(--general-text-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}
@media(min-width: 48rem) {
    .location > * {
        width: 50%;
    }
    .location div {
        padding-left: 1rem;
    }
}
.location img {
    margin-top: -2rem;
    margin-left: -1rem;
    flex-shrink: 1;
}
.location p,
.location span {
    color: var(--location-p-color);
}
.location a {
    color: var(--location-a-color);
    transition: all 0.2s ease;
    border: 1px solid var(--h2-color);
    padding: .5rem;
    border-radius: .6rem;
}
.location svg {
    width: .8rem;
    height: .8rem;;
}
/*WEBSHOP*/
.webshop {
    margin-bottom: 4rem;
}
.text-center {
    text-align: center;
}
@media (min-width: 48rem) {
    .text-center {
        text-align: left;
        margin-left: -1rem;
    }
}
@media(min-width: 54rem) {
    .text-center p {
        font-size: 1.2rem;
    }
}
.webshop__text-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.webshop__text-wrapper > * {
    margin-bottom: 1rem;
}
@media (min-width: 47rem){
    .webshop__text-wrapper {
        justify-content: space-between;
        align-items: center;
    }
    .webshop__text-wrapper > *{
        width: 40%;
    }
    .webshop__text-wrapper div:nth-child(2)  {
        margin-right: -1rem;
    }
}
@media (min-width: 50rem) {
    .webshop__text-wrapper > *{
        width: 50%;
    }
}
.circle {
    background-image: url(../media/5f5b9409e1c2efee29307007_drawing-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    font-size: .8rem;
    width: auto;
    height: 10rem;
}
.circle__text {
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 2.7rem;
    padding-right: 2.3rem;
    display: inline-block;
}

/*FOOTER*/
footer {
    background-color: var(--footer-btn-bg-color);
    color: var(--blockquote-bg-color);
    text-align: center;
}
.footer__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "R";
} 
@media (min-width: 61.9375rem) {
    .footer__main {
        font-size: 0.8rem;
        justify-content: start;
    }
}
.footer__main span {
    color: var(--h2-color);
    padding-left: .5rem;
    padding-right: .5rem;
}
.footer__main li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
footer a {
    transition: all .2s ease;
}
.footer__contacts a {
    color: var(--blockquote-bg-color);
}
.footer__contacts span {
    color: var(--h2-color);
}
.footer__contacts span {
    padding: 0 .5rem;
}
@media (min-width: 61.9375rem) {
    .footer__contacts ul {
        font-size: 0.8rem;
        display: flex;
        justify-content: flex-start;
    }
}
@media (min-width: 71.875rem) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .footer__contacts ul {
        justify-content: flex-end;
        margin-right: -.8rem;
    }
}
.cookies a {
    color: var(--blockquote-bg-color);
    margin-right: .5rem;
}
footer p,
.thin {
    font-family: "h";
    padding: 1rem 0;
}
.thin a {
    color: var(--blockquote-bg-color);
}
.thin a:hover {
    color: var(--nav-a-color);
}
@media (min-width: 48rem) {
    footer p {
        text-align-last: left;
        font-size: 0.76rem;
    }
}
.footer__main a {
    color: var(--blockquote-bg-color);
}
.footer__main a:hover,
.cookies a:hover {
    color: var(--nav-a-color);
}
.footer__contacts a {
    border: 1px solid var(--h2-color);
    padding: .5rem;
    border-radius: .6rem;
}
.footer__contacts li {
    padding-bottom: 1rem;
    padding-top: .6rem;
    padding-right: .5rem;
    
}
@media (min-width: 71.875rem) {
    .footer__contacts li {
        padding-left: .5rem;
    }
}
@media (min-width: 48rem) {
    .cookies__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;  
        font-size: 0.8rem;  
    }
}
/*WEBSHOP*/
.webshop__choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media(min-width: 71rem) {
    .webshop__choice div:last-child {
        margin-right: -1rem;
    }
}
.elements__wrapper {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
@media (min-width: 48rem) {
    .elements__wrapper {
        margin-right: 1rem;

    }
}
.elements__wrapper span {
    padding-left: 0.5rem;
    font-family: "h";
    font-size: 1rem;
}
.elements__wrapper a {
    color: var( --h1-a-color);
    font-family: "Bilingual Serif Font";
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: -1rem;
}
.elements__wrapper a:hover {
    text-decoration: underline var(--nav-a-color);
}
@media(min-width: 71rem) {
    .elements__wrapper {
        margin: 0;
    }
} 
@media (min-width: 40rem) {
    .webshop__choice {
        justify-content: space-around;
    }
}
@media(min-width: 71rem) {
    .webshop__choice {
        justify-content: space-between;
    }
    
}
.webshop__back {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 1rem;
}
.small{
    background-color: hsla(103.44827586206898, 56.86%, 90.00%, 1.00);

}
.medium {
    background-color: hsla(132.72727272727272, 60.00%, 89.22%, 1.00);
}
.large {
    background-color: hsla(164.65116279069764, 66.15%, 87.25%, 1.00);
}
.webshop__element {
    transform: translateX(-1rem) translateY(-.5rem);
}
@media(min-width: 71rem) {
    .webshop__element {
        transform: translateX(-2rem) translateY(-.5rem);
    }
}

/*GEPERSONALIZEERDE BLOEMWERK
    BLOEMEN                 */

.bloemen {
    background-color: var(--blockquote-bg-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}  
.bloemen img {
    margin-top: -2rem;
    margin-left: -1rem;
}
@media(min-width: 48rem) {
    .bloemen {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .bloemen > * {
        width: 50%;
    }
    .bloemen div {
        padding-right: 1rem;
        font-size: 1.1rem;
        text-align: left;
    }
    .bloemen p {
        width: 80%;
    }
    .bloemen h1 {
        font-size: 3.1875rem;
    }
}
.bloemen__text p {
    text-align: center;
}
@media(min-width: 48rem) {
    .bloemen__text p {
        font-size: 1.1rem;
    }
}
/*EXAMPLE*/
.example {
    text-align: center;
}
.example__photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 71rem) {
    .example__photo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .example__photo > * {
        width: 23%;
    }
}
.example__photo div {
    margin-left: .5rem;
}
.rare {
   min-height: 17rem;
}
@media(min-width: 27.5rem) {
    .rare {
        min-height: 19.4rem;
     }
}
@media (min-width: 71rem) {
    .example__element img {
        min-height: 18rem;
    }
}
.example__back {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--blockquote-bg-color);
}

.example__element {
    transform: translateX(-1rem) translateY(-.5rem);
}


