
@font-face {
    font-family:'h';
    src: url('../fonts/h.woff2') format('woff2'),
		url('../fonts/h.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'R';
    src: url('../fonts/R.woff2') format('woff2'),
		url('../fonts/R.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'R';
    src: url('../fonts/R Bold.woff2') format('woff2'),
		url('../fonts/R Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Bilingual Serif Alternate Font';
    src: url('../fonts/Bilingual Serif Alternate Font Regular.woff2') format('woff2'),
		url('..//fonts/Bilingual Serif Alternate Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Bilingual Serif Font';
    src: url('../fonts/Bilingual Serif Font Regular.woff2') format('woff2'),
		url('../fonts/Bilingual Serif Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'SCRIPTKEREN';
    src: url('../fonts/SCRIPTKEREN.woff2') format('woff2'),
		url('../fonts/SCRIPTKEREN.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
:root {
    --general-text-color: #00372B;
    --h2-color: #93C683;
    --footer-btn-bg-color:#00372B;
    --nav-a-color: #009E29;
    --h1-a-color: #C11462;
    --blockquote-bg-color: #FFF8E1;
}

/*GENERAL*/

body {
    margin: 0;
    font-family: "R", "h", "Bilingual Serif Font", "Bilingual Serif Alternate Font", "SCRIPTKEREN", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--general-text-color);
}
* {
    box-sizing: border-box;
    clear: both;
}
.container {
    width: 80rem;
    max-width: 100%;
    padding: 1rem 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}
h1{
    font-size: 2rem;
    font-weight: 400;
    color: var(--h1-a-color);
    font-family: "Bilingual Serif Font", sans-serif;
    text-shadow: 0 0 0.5px #c11462;
}
h2 {
    font-size: 2.375rem;
    font-weight: bold;
    color: var(--h2-color);
    font-family: "Bilingual Serif Font", sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    font-family: "R", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.logo {
    width: 6.25rem;
    display: block;
}
@media (min-width: 47.9375rem) {
    .logo {
        width: 9.375rem;
    }
}
.burger {
    width:2rem;
}
/*HEADER*/
header {
    margin-top: 1rem;
}
.main {
    display: none;
}
@media (min-width: 62rem) {
    .main {
        display: flex;
        color: var(#009E29);
        justify-content: flex-end;
        text-transform: uppercase;
    }
}
.main a { 
    color: var(--nav-a-color);
    transition: all .2s ease;
    padding: .4rem;
    font-size: 0.66rem;
}
@media (min-width: 71rem) {
    .main a {
        font-size: 0.8rem; 
    }
}
.main a:hover {
    color: var(--h2-color);
}

.contacts {
    font-size: 0.49rem;
    text-transform: uppercase;
    font-family: "R";
    
}  
@media (min-width: 31rem) {
    .contacts {
        font-size: .7rem;
    } 
}
@media (min-width: 62rem) {
    .contacts {
        justify-content: flex-end;
        display: flex;
        margin-bottom: -2rem;
    } 
}
.contacts span {
    margin-right: .2rem; 
    font-family: "h";
}
.contacts ul {
    display: flex;
    justify-content: center;
}
.contacts ul li {
    margin-left: 0.24rem;
}
@media (min-width: 31rem) {
    .contacts ul li {
        margin-left: 1rem;
    }
}
.contacts a {
    color: var( --footer-btn-bg-color);
    transition: all 0.2s ease;
}
.contacts a:hover {
    color: var(--nav-a-color);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "R";
    margin-bottom: 0;
    margin-top: 1rem;
}
.nawigation_wrap {
    display: flex;
    align-items: center;
}
.mandje {
    background-color: var(--footer-btn-bg-color);
    color: var(--blockquote-bg-color);
    text-align: center;
    border-radius: .6rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    align-items: flex-end;
}
.mandje-amount {
    background-color: var(--blockquote-bg-color);
    color: var(--footer-btn-bg-color);
    border-radius : 50%;
    padding: 0 0.3rem;
    margin-left: 0.38rem;
    font-weight: 700;
}
.wrapper {
    display: flex;
    
}
.burger {
    margin-left: .5rem;
}
@media (min-width: 62rem) {
    .burger {
        display: none;
    }
}
/*QUOTE*/
.quote {
    background-color: var(--blockquote-bg-color);
    margin-top: 4rem;
}
blockquote {
    margin: 0;
    margin-bottom: 4rem;
}
@media(min-width: 47.9375rem) {
    blockquote {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 4rem;
    }
    blockquote > * {
        width: 50%;
    }
}
@media(min-width: 59.375rem) {
    blockquote {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media(min-width: 75rem) {
    blockquote {
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
}

blockquote header {
    margin: 0;
}
.autor-photo {
    display: block;
    margin: 0 auto;
    margin-top: -5rem;
}
@media(min-width: 47.9375rem)  {
    .autor-photo {
        margin-top: 0;
        padding-left: 1.5rem;
    }
}
.quote p {
    font-family: "h";
    margin: 0;
}
@media(min-width: 47.9375rem) {
    .quote p {
        font-size: 1.2rem;
    }
}
@media(min-width: 75rem) {
    .quote p {
        font-size: 1rem;
    }
}
.content {
    align-self: center;
}
@media(min-width: 75rem) {
    .content {
        padding-right: 3rem;
    }
}
.content h1 {
    margin-bottom: 1rem;
}
@media(min-width: 47.9375rem) {
    .content h1 {
        font-size: 3.1875rem;
    }
}
.content :nth-child(2) {
    margin-bottom: 1rem;
} 
/*SPECIAL*/
.special {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}
.special__link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.special__link-wrapper > * {
    width: 100%;
}
.special a {
    color: var(--h1-a-color);
    transition: all 0.2s ease;
}
.special a:hover {
    color: var();
}