@font-face {
    font-family: 'h';
    src: url('../fonts/h.woff2') format('woff2'),
        url('../fonts/h.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'R';
    src: url('../fonts/R.woff2') format('woff2'),
        url('../fonts/R.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'R';
    src: url('../fonts/R Bold.woff2') format('woff2'),
        url('../fonts/R Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Bilingual Serif Alternate Font';
    src: url('../fonts/Bilingual Serif Alternate Font Regular.woff2') format('woff2'),
        url('..//fonts/Bilingual Serif Alternate Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Bilingual Serif Font';
    src: url('../fonts/Bilingual Serif Font Regular.woff2') format('woff2'),
        url('../fonts/Bilingual Serif Font Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'SCRIPTKEREN';
    src: url('../fonts/SCRIPTKEREN.woff2') format('woff2'),
        url('../fonts/SCRIPTKEREN.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

:root {
    --general-text-color: #00372B;
    --h2-color: #93C683;
    --footer-btn-bg-color: #00372B;
    --nav-a-color: #009E29;
    --h1-a-color: #C11462;
    --blockquote-bg-color: #FFF8E1;
    --location-p-color: #D3F4DA;
    --location-a-color: #FFF8E1;
}

/*GENERAL*/

body,
html {
    margin: 0;
    font-family: "R", "h", "Bilingual Serif Font", "Bilingual Serif Alternate Font", "SCRIPTKEREN", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--general-text-color);
}

* {
    box-sizing: border-box;
    clear: both;
}

.container {
    width: 80rem;
    max-width: 100%;
    padding: 1rem 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--h1-a-color);
    font-family: "Bilingual Serif Font", sans-serif;
    text-shadow: 0 0 0.5px #c11462;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--h2-color);
    font-family: "Bilingual Serif Font";
}

@media(min-width: 54rem) {
    h2 {
        font-size: 2rem;
    }
}

img {
    max-width: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: "R", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    font-family: "h";
}

.logo {
    width: 6rem;
}

@media(min-width: 54rem) {
    .logo {
        width: 6.25rem;
        display: block;
    }
}

@media (min-width: 47.9375rem) {
    .logo {
        width: 9.375rem;
    }
}

.burger {
    width: 2rem;
}

/*HEADER*/
header {
    margin-top: 1rem;
    /* z-index: 9999; 
    position: relative;  */
}

.main {
    display: none;
}

@media (min-width: 62rem) {
    .main {
        display: flex;
        color: var(#009E29);
        justify-content: flex-end;
        text-transform: uppercase;
    }
}

.main a {
    color: var(--nav-a-color);
    transition: all .2s ease;
    padding: .4rem;
    font-size: 0.66rem;
}

@media (min-width: 71rem) {
    .main a {
        font-size: 0.8rem;
    }
}

.main a:hover {
    color: var(--h2-color);
}

.contacts {
    font-size: 0.49rem;
    text-transform: uppercase;
    font-family: "R";

}

@media (min-width: 31rem) {
    .contacts {
        font-size: .7rem;
    }
}

@media (min-width: 62rem) {
    .contacts {
        justify-content: flex-end;
        display: flex;
        margin-bottom: -2rem;
    }
}

.contacts span {
    margin-right: .2rem;
    font-family: "h";
}

.contacts ul {
    display: flex;
    justify-content: center;
}

.contacts ul li {
    margin-left: 0.24rem;
}

@media (min-width: 31rem) {
    .contacts ul li {
        margin-left: 1rem;
    }
}

.contacts a {
    color: var(--footer-btn-bg-color);
    transition: all 0.2s ease;
}

.contacts a:hover {
    color: var(--nav-a-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "R";
    margin-bottom: 0;
    margin-top: 1rem;
}

.nawigation_wrap {
    display: flex;
    align-items: center;
}

.mandje {
    background-color: var(--footer-btn-bg-color);
    color: var(--blockquote-bg-color);
    text-align: center;
    border-radius: .6rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    align-items: flex-end;
}

.mandje-amount {
    background-color: var(--blockquote-bg-color);
    color: var(--footer-btn-bg-color);
    border-radius: 50%;
    padding: 0 0.3rem;
    margin-left: 0.38rem;
    font-weight: 700;
}

.wrapper {
    display: flex;
}

.burger {
    margin-left: .5rem;
}

@media (min-width: 62rem) {
    .burger {
        display: none;
    }
}

.modal {
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: white;
    z-index: 1;
    margin-top: 15rem;
    transition: all .2s ease;
}

.main__modal {
    text-align: center;
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
}

.main__modal li {
    width: 100%;
    margin-bottom: 1rem;
}

.main__modal a {
    color: var(--nav-a-color);
}

.main__modal a:hover {
    color: var(--h2-color);
}

/*QUOTE*/
.quote {
    background-color: var(--blockquote-bg-color);
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

blockquote {
    margin: 0;
    margin-bottom: 4rem;
}

@media(min-width: 47.9375rem) {
    blockquote {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 4rem;
    }

    blockquote>* {
        width: 50%;
    }
}

@media(min-width: 59.375rem) {
    blockquote {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(min-width: 75rem) {
    blockquote {
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
}

blockquote header {
    margin: 0;
}

.autor-photo {
    display: block;
    margin: 0 auto;
    margin-top: -5rem;
}

@media(min-width: 47.9375rem) {
    .autor-photo {
        margin-top: 0;
        padding-left: 1.5rem;
    }
}

.quote p {
    margin: 0;
}

@media(min-width: 47.9375rem) {
    .quote p {
        font-size: 1.2rem;
    }
}

@media(min-width: 75rem) {
    .quote p {
        font-size: 1rem;
    }
}

.content {
    align-self: center;
}

@media(min-width: 75rem) {
    .content {
        padding-right: 3rem;
    }
}

.content h1 {
    margin-bottom: 1rem;
}

@media(min-width: 47.9375rem) {
    .content h1 {
        font-size: 3.1875rem;
    }
}

.content :nth-child(2) {
    margin-bottom: 1rem;
}

/*SPECIAL*/
.special {
    padding: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

@media(min-width: 47.9375rem) {
    .special {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .special>* {
        width: 50%;
    }
}

.special h2 {
    margin: 0;
}

.special__link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 24rem;
    margin: 0 auto;
    align-items: center;
}

@media(min-width: 47.9375rem) {
    .special__link-wrapper {
        margin: 0 0;
        display: block;
    }
}

@media(min-width: 26.25rem) {
    .special__link-wrapper {
        justify-content: center;
    }
}

.special__link-wrapper span {
    width: 100%;
    font-family: "h";
    padding-right: .5rem;
}

@media(min-width: 47.9375rem) {
    .special__content {
        padding-left: 2rem;
    }
}

@media(min-width: 26.25rem) {
    .special__link-wrapper span {
        width: 30%;
    }

    .special__link-wrapper a {
        width: 70%;
    }
}

.special a {
    color: var(--h1-a-color);
    transition: all 0.2s ease;
    border: 1px solid var(--h1-a-color);
    padding: .5rem;
    border-radius: .6rem;
}

.special a:hover {
    color: var(--h2-color);
}

.right {
    width: .8rem;
    height: .8rem;
}

/*REISON*/
.reison h2,
.reison p {
    text-align: center;
}

@media(min-width: 54rem) {
    .reison p {
        font-size: 1.2rem;
    }
}

.reison a {
    color: var(--h1-a-color);
    text-decoration: underline #f2d6e3;
    font-size: 1.5rem;
    transition: all .2s ease;
    font-family: "Bilingual Serif Font";
}

.reison a:hover {
    text-decoration: underline var(--h1-a-color);
}

.section__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@media(min-width: 40rem) {
    .section__wrap {
        justify-content: space-around;
    }

    .section__wrap section:nth-child(3) {
        margin: 0 auto;
    }
}

@media(min-width: 54rem) {
    .section__wrap {
        justify-content: space-between;
    }
}

@media(min-width: 54rem) {
    .section__wrap section:nth-child(3) {
        margin: 0;
    }
}

section {
    align-self: center;
    margin-right: .5rem;
}

section div {
    width: 19rem;
    height: 18.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media(min-width: 40rem) {
    section div {
        width: 18rem;
        height: 17.5rem;
    }
}

@media(min-width: 54rem) {
    section div {
        width: 18rem;
        height: 17.5rem;
    }
}

@media(min-width: 75rem) {
    section div {
        width: 24rem;
        height: 23.5rem;
        background-size: 30rem;
    }
}

@media(min-width: 78.125rem) {
    section div {
        width: 25rem;
        height: 24.5rem;
        background-size: 31rem;
    }
}

.trouw {
    background-image: url(../media/weedings.jpeg);
    box-shadow: 12px 12px 0px 0px #FFF8E1;


}

@media(min-width: 54rem) {
    .trouw {
        margin-left: -1rem;
    }

    .trouw__link {
        margin-left: -1rem;
    }
}

.sezoen {
    background-image: url(../media/sezoen.jpeg);
    background-repeat: no-repeat;
    box-shadow: 12px 12px 0px 0px #DFF4D7;
}

.rouw {
    background-image: url(../media/rouw.jpeg);
    background-repeat: no-repeat;
    background-size: 35rem;
    box-shadow: 12px 12px 0px 0px #F2D6E3;
}

@media(min-width: 75rem) {
    .rouw {
        background-size: 37rem;
    }
}

/*LOCATION*/
.location {
    background-color: var(--general-text-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}

@media(min-width: 48rem) {
    .location>* {
        width: 50%;
    }

    .location div {
        padding-left: 1rem;
    }
}

.location img {
    margin-top: -2rem;
    margin-left: -1rem;
    flex-shrink: 1;
}

.location p,
.location span {
    color: var(--location-p-color);
}

.location a {
    color: var(--location-a-color);
    transition: all 0.2s ease;
    border: 1px solid var(--h2-color);
    padding: .5rem;
    border-radius: .6rem;
}

.location svg {
    width: .8rem;
    height: .8rem;
    ;
}

/*WEBSHOP*/
.webshop {
    margin-bottom: 4rem;
}

.text-center {
    text-align: center;
}

@media (min-width: 48rem) {
    .text-center {
        text-align: left;
        margin-left: -1rem;
    }
}

@media(min-width: 54rem) {
    .text-center p {
        font-size: 1.2rem;
    }
}

.webshop__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.webshop__text-wrapper>* {
    margin-bottom: 1rem;
}

@media (min-width: 47rem) {
    .webshop__text-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .webshop__text-wrapper>* {
        width: 40%;
    }

    .webshop__text-wrapper div:nth-child(2) {
        margin-right: -1rem;
    }
}

@media (min-width: 50rem) {
    .webshop__text-wrapper>* {
        width: 50%;
    }
}

.circle {
    background-image: url(../media/5f5b9409e1c2efee29307007_drawing-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    font-size: .8rem;
    width: auto;
    height: 10rem;
}

.circle__text {
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 2.7rem;
    padding-right: 2.3rem;
    display: inline-block;
}

/*FOOTER*/
footer {
    background-color: var(--footer-btn-bg-color);
    color: var(--blockquote-bg-color);
    text-align: center;
}

.footer__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "R";
}

@media (min-width: 61.9375rem) {
    .footer__main {
        font-size: 0.8rem;
        justify-content: start;
    }
}

.footer__main span {
    color: var(--h2-color);
    padding-left: .5rem;
    padding-right: .5rem;
}

.footer__main li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

footer a {
    transition: all .2s ease;
}

.footer__contacts a {
    color: var(--blockquote-bg-color);
}

.footer__contacts span {
    color: var(--h2-color);
}

.footer__contacts span {
    padding: 0 .5rem;
}

@media (min-width: 61.9375rem) {
    .footer__contacts ul {
        font-size: 0.8rem;
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 71.875rem) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer__contacts ul {
        justify-content: flex-end;
        margin-right: -.8rem;
    }
}

.cookies a {
    color: var(--blockquote-bg-color);
    margin-right: .5rem;
}

footer p,
.thin {
    font-family: "h";
    padding: 1rem 0;
}

.thin a {
    color: var(--blockquote-bg-color);
}

.thin a:hover {
    color: var(--nav-a-color);
}

@media (min-width: 48rem) {
    footer p {
        text-align-last: left;
        font-size: 0.76rem;
    }
}

.footer__main a {
    color: var(--blockquote-bg-color);
}

.footer__main a:hover,
.cookies a:hover {
    color: var(--nav-a-color);
}

.footer__contacts a {
    border: 1px solid var(--h2-color);
    padding: .5rem;
    border-radius: .6rem;
}

.footer__contacts li {
    padding-bottom: 1rem;
    padding-top: .6rem;
    padding-right: .5rem;

}

@media (min-width: 71.875rem) {
    .footer__contacts li {
        padding-left: .5rem;
    }
}

@media (min-width: 48rem) {
    .cookies__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 0.8rem;
    }
}

.toTop__wrapper {
    width: 2.5rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    cursor: pointer;
    visibility: hidden;
}

.toTopBtn {
    /* display: none; */
}

/* .top-link__show{
    visibility: visible;
    opacity: 1;
  }
  
.top-link__hide {
    visibility: hidden;
    opacity: 0;
  } */
/*WEBSHOP*/
.webshop__choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(min-width: 71rem) {
    .webshop__choice div:last-child {
        margin-right: -1rem;
    }
}

.elements__wrapper {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 48rem) {
    .elements__wrapper {
        margin-right: 1rem;

    }
}

.elements__wrapper span {
    padding-left: 0.5rem;
    font-family: "h";
    font-size: 1rem;
}

.elements__wrapper a {
    color: var(--h1-a-color);
    font-family: "Bilingual Serif Font";
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: -1rem;
}

.elements__wrapper a:hover {
    text-decoration: underline var(--nav-a-color);
}

@media(min-width: 71rem) {
    .elements__wrapper {
        margin: 0;
    }
}

@media (min-width: 40rem) {
    .webshop__choice {
        justify-content: space-around;
    }
}

@media(min-width: 71rem) {
    .webshop__choice {
        justify-content: space-between;
    }

}

.webshop__back {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 1rem;
}

.small {
    background-color: hsla(103.44827586206898, 56.86%, 90.00%, 1.00);

}

.medium {
    background-color: hsla(132.72727272727272, 60.00%, 89.22%, 1.00);
}

.large {
    background-color: hsla(164.65116279069764, 66.15%, 87.25%, 1.00);
}

.webshop__element {
    transform: translateX(-1rem) translateY(-.5rem);
}

@media(min-width: 71rem) {
    .webshop__element {
        transform: translateX(-2rem) translateY(-.5rem);
    }
}

/*GEPERSONALIZEERDE BLOEMWERK
    BLOEMEN                 */

.bloemen {
    background-color: var(--blockquote-bg-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}

.bloemen img {
    margin-top: -2rem;
    margin-left: -1rem;
}

@media(min-width: 48rem) {
    .bloemen {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .bloemen>* {
        width: 50%;
    }

    .bloemen div {
        padding-right: 1rem;
        font-size: 1.1rem;
        text-align: left;
    }

    .bloemen p {
        width: 80%;
    }

    .bloemen h1 {
        font-size: 3.1875rem;
    }
}

.bloemen__text p {
    text-align: center;
}

@media(min-width: 48rem) {
    .bloemen__text p {
        font-size: 1.1rem;
    }
}

/*SEIZOENDECORATIE*/
/*SEiZOEN*/
.seizoen {
    background-color: hsla(103.44827586206898, 56.86%, 90.00%, 1.00);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}

.seizoen img {
    margin-top: -2rem;
    margin-left: -1rem;
}

@media(min-width: 48rem) {
    .seizoen {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .seizoen>* {
        width: 50%;
    }

    .seizoen div {
        padding-right: 1rem;
        font-size: 1.1rem;
        text-align: left;
    }

    .seizoen p {
        width: 80%;
    }

    .seizoen h1 {
        font-size: 3.1875rem;
    }
}

.seizoen__text {
    text-align: center;
}

@media(min-width: 48rem) {
    .seizoen__text p {
        font-size: 1.1rem;
    }
}

/*EXAMPLE*/
.example {
    text-align: center;
}

.example__photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 71rem) {
    .example__photo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .example__photo>* {
        width: 23%;
    }
}

.example__photo div {
    margin-left: .5rem;
}

.rare {
    min-height: 17rem;
}

@media(min-width: 27.5rem) {
    .rare {
        min-height: 19.4rem;
    }
}

@media (min-width: 71rem) {
    .example__element img {
        min-height: 18rem;
    }
}

.example__back {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--blockquote-bg-color);
}

.example__element {
    transform: translateX(-1rem) translateY(-.5rem);
}

/*MESSAGE*/
.message h2,
.message p {
    text-align: center;
}

.message__dark {
    color: var(--general-text-color);
    font-size: 1rem;
}

.message h2 {
    font-size: 2.125rem;
}

.message {
    color: var(--location-p-color);
}

.message h3 {
    color: var(--h2-color);
    text-align: center;
    font-size: 1.875rem;
}

.message__container {
    background-color: var(--footer-btn-bg-color);
    display: flex;
    flex-wrap: wrap;
}

.message__container>* {
    width: 100%;
}

@media (min-width:47.9375rem) {
    .message__container>* {
        width: 50%;
    }

    .message__container {
        flex-wrap: nowrap;
    }

    .message__container div:last-child {
        margin-top: 4.7rem;
    }
}

.message__container a {
    color: #00b62f;
    text-decoration: underline;
    padding-left: .5rem;
    padding-right: .5rem;
}

.message__form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 1.5rem;
    margin-bottom: 2rem;
}

.message__form>* {
    width: 100%;

}

.message__form label {
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
}

.btn {
    width: 6rem;
    padding: .7rem;
    background-color: var(--footer-btn-bg-color);
    border: 1px solid var(--nav-a-color);
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .6rem;
    color: #fff;
    font-size: 1rem;
}

@media (min-width:47.9375rem) {
    .btn {
        margin-left: 0;
    }
}

.message__form input,
.message__form textarea {
    border-radius: .6rem;
    background-color: var(--h2-color);
    color: black;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
}

.message__form textarea {
    height: 6.25rem;
    margin: 0;
    padding-top: 0.5rem;
}

.message__form input {
    height: 2.5rem;
}

/*BOEKET*/
.form__wrapper {
    margin: 0 auto;

}

.form__wrapper h1 {
    text-align: center;
}

.boeket__kost {
    text-align: center;
    opacity: 0.6;
    font-size: 1.875rem;
    font-family: "h";
    margin-bottom: 1.5rem;
}

.boeket__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 64.25rem) {
    .boeket__wrap {
        flex-direction: column;
    }

    .boeket__wrap img {
        margin: 0 auto;
        display: block;
    }
}

.lent {
    height: .1rem;
    width: 100%;
    background-color: black;
}

.boeket__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 31rem;

}

.boeket__form label {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
}

.boeket__form select {
    width: 100%;
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
}

.boeket__form input {
    width: 100%;
    opacity: .8;
    text-align: center;
    height: 2.67rem;
    margin-bottom: .5rem;
    border: 1px solid #e4e4e4;
}

@media (min-width: 64.25rem) {

    .boeket__form input,
    .boeket__form label {
        text-align: left;
    }
}

.boeket__btn {
    color: #fff;
    background-color: var(--footer-btn-bg-color);
    border-radius: .6rem;
    height: 2.67rem;
    font-family: "h";
    font-size: 0.8rem;
}

.boeket__btn-wrapper {
    width: 100%;
}

@media (min-width: 64.25rem) {
    .boeket__btn-wrapper {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    .boeket__btn-wrapper input:first-child {
        width: 4rem;
        margin-right: 1rem;
    }
}

.boeket__descr {
    text-align: center;
}

@media (min-width: 64.25rem) {
    .boeket__descr {
        text-align: left;
    }
}

.boeket__descr h2 {
    font-size: 2.25rem;
}

.boeket__descr p {
    font-size: 1.2rem;
}

@media (min-width: 64.25rem) {
    .boeket__descr p {
        font-size: 1.1rem;
    }
}

.boeket__descr h4 {
    font-size: 1.5rem;
    font-family: "Bilingual Serif Font";
    color: var(--h2-color);
}

/*WINKEL - MANDJE - MODAL-WINDOW*/
.card__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

}

.card__modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    margin-right: 0;
    /* padding: 1rem; */
    border: 1px solid #888;
    width: 100%;
    z-index: 2000;
    /* margin-top: -32px; */
    height: 100%;
}

@media (min-width: 30rem) {
    .card__modal-content {
        width: 30rem;
    }
}

.card__modal-content h3 {
    color: var(--h2-color);
    font-size: 1rem;
}

.card__header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 1rem;
}

.card__line {
    width: 100%;
    height: .1rem;
    background-color: black;
    opacity: .1;
}

.winkel__card-img {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;

}

.card__amount {
    width: 3rem;
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
    margin-right: 1rem;
}

.card__content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
}

@media(min-width: 20.9375rem) {
    .card__content-wrapper {
        margin-bottom: 9rem;
    }
}

@media(min-width: 22.125rem) {
    .card__content-wrapper {
        margin-bottom: 10rem;
    }
}

@media(min-width: 23rem) {
    .card__content-wrapper {
        margin-bottom: 13rem;
    }
}

@media(min-width: 27.375rem) {
    .card__content-wrapper {
        margin-bottom: 15rem;
    }
}

.card__content-wrapper h4 {
    color: var(--general-text-color);
    font-size: 0.875rem;
    font-family: "h";
    margin: 0;
}

.card__content-wrapper h5 {
    margin: 0;
    color: #a7a7a7;
    font-family: "h";
    font-size: 0.875rem;
    margin-bottom: .5rem;
}

.card__content-wrapper h5 span {
    color: var(--general-text-color);
    opacity: .8;
}

.card__content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
}

.card__content>* {
    width: 100%;
}

.card__price {
    font-family: "h";
    font-size: 1.1rem;
    color: var(--general-text-color);
}

.remove {
    color: #a7a7a7;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.color {
    color: var(--general-text-color);
    align-items: center;

}

.color span:last-child {
    font-size: 1.25rem;
}

.color span:first-child {
    font-family: "h";
}

.link-to-payment {
    color: #fff;
    background-color: var(--footer-btn-bg-color);
    font-size: 0.75rem;
    width: 94%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: .5rem 0;
    border-radius: .6rem;
}

/*CHEKOUT*/
.besteling {
    background-color: #f3f3f3;
    height: auto;
}

.besteling__overzicht {
    margin-top: 2rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.besteling h4 {
    color: var(--h2-color);
    font-size: 1.125rem;
    margin-left: 1rem;
}

.besteling__overzicht-line {
    width: 100%;
    height: .09rem;
    background-color: black;
    opacity: .1;
}

.besteling-img {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    ;
}

.besteling__content-wrapper {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
}

.besteling__content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
    font-family: "h";
}

.besteling__content>* {
    width: 100%;
    margin: 0;
    margin-bottom: .5rem;
}

.bestelling__aantal {
    color: #a7a7a7;
    margin-bottom: 1rem;
}

.besteling__wrap {
    display: flex;
    justify-content: space-between;
}

.besteling__price {
    margin-top: 1rem;
    width: 4rem;
    font-size: .9rem;
}

.besteling__klant-info {
    margin-top: 2rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__wrapper span {
    margin-right: 1rem;
    opacity: 0.7;
}

.besteling-form {
    display: flex;
    flex-wrap: wrap;
}

.besteling-form>* {
    width: 100%;

}

.besteling-form input {
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
    margin: 1rem;
    margin-top: .5rem;
}

.besteling-form label {
    margin-left: 1rem;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.besteling__adres {
    background-color: #fff;
}

.nomargin {
    margin-bottom: 0 !important;
}

.adres__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width: 29.9375rem) {
    .adres__wrap {
        width: 33%;
    }

    .margin_right {
        margin-right: 0 !important;
    }
}

.adres__wrap>* {
    width: 100%;
}

.levering {
    background-color: #fff;
    margin-top: 1rem;
    padding-top: 1rem;
}

.shippping {
    margin-bottom: 1rem;
    background-color: #fff;
}

.shippping p {
    margin: 0;
    margin-left: 1rem;
    font-size: 0.875rem;
    opacity: .6;
    letter-spacing: 0;
    font-family: "R";
}

.shippping label {
    font-size: 0.875rem;
    font-family: "R";
    font-weight: 500;
    padding-left: 1rem;
}

.shippping:last-child {
    padding-bottom: .5rem;
}

.radio_wrap {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.radio_wrap>* {
    width: 50%;
}

@media(min-width: 37.5rem) {
    .radio_wrap>* {
        width: auto;
    }
}

.radio_wrap span {
    text-align: right;
}

@media(min-width: 37.5rem) {
    .radio_wrap span {
        width: 4rem;
    }
}

.radio_wrap div {
    display: flex;
    justify-content: center;
}

.shipping__info {
    display: flex;
    flex-wrap: wrap;
}

.shipping__info>* {
    width: 100%;
}

.shipping__info {
    align-self: end;
}

.private-message {
    background-color: #fff;
    margin-bottom: 1rem;
}

.private-message h4 {
    font-size: 1.5rem;
}

.private-message input,
textarea {
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
    margin: 1rem;
    margin-top: .5rem;
}

.private-message label {
    margin-left: 1rem;
    font-size: .8rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.private-message textarea {
    height: 4rem;
    padding-top: 1rem;
}

.private-form__wrapper {
    display: flex;
    flex-wrap: wrap;

}

.private-form__wrapper>* {
    width: 100%;
}

.chekbox label {
    text-transform: none;
    margin: 0;
    padding-bottom: .4rem;
    font-family: "R";
    font-size: 1rem;
}

.chekbox input {
    margin-right: .5rem;
}

.chekbox {
    display: flex;
    align-items: center;
}

.payment {
    background-color: #fff;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.payment input,
textarea {
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
    margin: 1rem;
    margin-top: .5rem;
}

.payment label {
    margin-left: 1rem;
    font-size: .8rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.payment__form {
    display: flex;
    flex-wrap: wrap;
}

.payment__form>* {
    width: 100%;
}

.pay__wrap {
    display: flex;
    flex-wrap: wrap;
}

.pay__wrap>* {
    width: 100%;
}

.pay__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pay__wrapper>* {
    width: 100%;
}

@media (min-width: 29.9375rem) {
    .pay__wrapper>* {
        width: 50%;
    }
}

.pay__chekbox label {
    text-transform: none;
    margin: 0;
    padding-bottom: .4rem;
    font-family: "R";
    font-size: 1rem;
}

.pay__chekbox input {
    margin-right: .5rem;
}

.pay__chekbox {
    display: flex;
    align-items: center;
}

.if-not {
    background-color: #fff;
    margin-bottom: 1rem;
}

.if-not__besteling-form {
    display: flex;
    flex-wrap: wrap;
}

.if-not__besteling-form>* {
    width: 100%;

}

.if-not__besteling-form input,
select {
    height: 2.67rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: .3rem;
    opacity: .8;
    margin: 1rem;
    margin-top: .5rem;
}

.if-not__besteling-form label {
    margin-left: 1rem;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.besteling__adres {
    background-color: #fff;
    padding-top: 1rem;
}

.nomargin {
    margin-bottom: 0 !important;
}

.adres__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width: 29.9375rem) {
    .adres__wrap {
        width: 33%;
    }

    .margin_right {
        margin-right: 0 !important;
    }
}

.adres__wrap>* {
    width: 100%;
}

.levering {
    background-color: #fff;
    margin-top: 1rem;
}

.overview {
    background-color: #fff;
    padding-top: 1rem;

}

.overview h4 {
    color: var(--h2-color);
    font-size: 1.125rem;
    padding-top: 1rem;
}

.overview__content h5 {
    font-family: "R";
    font-size: 1rem;
    padding-left: 1rem;
    font-family: "h";
    margin-bottom: .5rem;
    margin-top: .5rem;
    opacity: .6;
}

.opacity {
    opacity: .6;
}

.overview__content div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.overview__content div span {
    width: 5rem;
    text-align: right;
    padding-right: 1rem;
}

.total {
    text-shadow: 0 0 .7px black;
}

.go-to__pay {
    color: white;
    background-color: var(--footer-btn-bg-color);
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .6rem;
    transition: all 3 linear;
}
.go-to__pay:hover {
    background-color: #00b62f;
}


/*LIGHTBOX - BLOEMEN*/
.bloem-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8)
}

.bloem-modal__content {
    position: relative;
    background-color:  rgba(0, 0, 0, 0.8);
    margin: auto;
   
    padding: 0;
    width: 90%;
    max-width: 75rem;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.bloem-slide {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.bloem-modal__content img {
    margin-bottom: -4px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.column__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.column__wrapper>* {
    width: 8rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.column img {
    width: 8rem;
    max-height: 7rem;
    height: 6rem;
}

.bloem-slide {
    margin-top: -5rem;
}